@model Models.PhysicianList


@{
    ViewBag.Title = "Physician";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
    }




    @foreach (var physician in Model.Details)
    {<h2>  @physician.FirstName  </h2>}
